/*contentcss.css */
/* contents */


#nestedGrid {
    display:grid;
    grid-template-columns: repeat(3, 200px); /* gap with the other photos */
    grid-template-rows: repeat(2, 150px);
    border: 1px solid rgb(221, 211, 217);
 }
 .photobox {
    width: 195px;
    height: 145px;
    border: 1px solid rgb(173, 158, 168);
    background: #f5f5ef
 
 }
 
 #one {
    background-image: url("images/natures1.jfif");
    background-size: cover;
    background-repeat: no-repeat;
 } 
 #two {
    background-image: url("images/natures2.jfif");
    background-size: cover;
    background-repeat: no-repeat;
 }
 #three {
    background-image: url("images/natures3.jfif");
    background-size: cover;
    background-repeat: no-repeat;
 }
 #four {
    background-image: url("images/natures4.jfif");
    background-size: cover;
    background-repeat: no-repeat;
 }
 #five {
    background-image: url("images/natures5.jfif");
    background-size: cover;
    background-repeat: no-repeat;
 }
 #six {
    background-image: url("images/natures6.jfif");
    background-size: cover;
    background-repeat: no-repeat;
 }  

