/*sidebar */
/*sidestyle.css */

.authorcontain {

    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 div h4{
   text-align: center;
 }
 
.sidebox {
    width: 500px;
    height: 200px;
    padding: 5px;
    border-bottom: 1px solid rgb(209, 205, 205);
 }
 
 
 #sideone {
    order: 1;
    }
 #sidetwo {
    order: 2;
    
 }
 #sidetwo a{
    text-decoration: none;
    color: rgb(84, 83, 83);
    font-size: 20px;
    font-weight: bold;
 
 }
 #sidethree { 
    order: 3;
    
 }
 
 .authorbox{
 
    width: 100px;
    height: 100px;
    border-radius: 90%;
    background-image: url("images/photoMe.jfif");
    padding-left: 20px;
    background-size: cover;
 }
 .authorbox p{
    
    padding-left: 110px;
    width: 350px;
    text-align: justify;
    font-size: medium;
    
 }
 
 .postcontain {
    display: flex;
    flex-direction: column;
    align-items: left;
    
 }
 
 .postbox {
 
    width: 100px;
    height: 100px;
    background-image: url("images/acacia.png");
    padding-left: 15px;
    background-size: cover;
    
 }
 
 .postbox p{
    
    margin-left: 110px;
    height: 70px;
    width: 350px;
    text-align: justify;
    font-size: medium;
    
    
 }
 .postbox caption{
    Caption-side: bottom;
    font-size: 10px;
 }
 
 #onepost {
    order: 1;}
 